[Unit]
Description=Mihomo Web Manager
After=network-online.target mihomo.service
Wants=network-online.target

[Service]
Type=simple
User=eric
WorkingDirectory=/opt/mihomo-web-manager
EnvironmentFile=/opt/mihomo-web-manager/mihomo-web-manager.env
ExecStart=/opt/mihomo-web-manager/mihomo-manager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
